.surprise {
    height: 60px;
    width: 150px;
    font-weight: bold;
    font-size: 20px;
    background-color:red;
    color:aliceblue;
    transition:background-color 0.3s,transform 0.3S
}
.surprise:hover {
    cursor:pointer;
    background-color: aqua;
    transform: scale(1.1);
}